body {
	background: black;
	font-family: "Roboto Condensed", sans-serif;
	display: flex;
	min-height: 100vh;
	margin: 0;
}

.container {
	margin: auto;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
}

.postcard-header {
	display: flex;
	padding: 10px;
}

.postcard-header h1 {
	width: 100%;
	padding-top: 10px;
	margin: 0px;
}

#logo {
	width: 50px;
	height: 50px;
}

.postcard-body {
	padding: 10px;
	display: flex;
	align-items: baseline;
}

.left {
	width: 50%;
}

.right {
	width: 50%;
}

input {
	padding: 5px;
	margin: 2px;
	margin-left: 10px;
	border: 0px;
}

.postcard-footer {
	text-align: center;
}

.button {
	padding: 6px;
	text-decoration: none;
	background: rgb(198, 198, 198);
	color: black;
}
